# Include only the inputs used by Dockerfile.
**
!Dockerfile
!Makefile
!VERSION
!src/
!src/**
!docker/
!docker/**
!examples/
!examples/minimal.sam
!notebooks/
!notebooks/**

# Build from source and omit local notebook caches.
src/*.o
src/*.d
src/isoumi
**/__pycache__/
**/.ipynb_checkpoints/
